{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>Top Customers</h2>
    <h3>Top 5 Customers by Tickets Sold</h3>
    <table>
        <thead>
            <tr>
                <th>Customer Email</th>
                <th>Tickets Sold</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in top_customers_tickets %}
            <tr>
                <td>{{ customer.customer_email }}</td>
                <td>{{ customer.tickets_sold }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h3>Top 5 Customers by Commission Earned</h3>
    <table>
        <thead>
            <tr>
                <th>Customer Email</th>
                <th>Commission Earned</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in top_customers_commission %}
            <tr>
                <td>{{ customer.customer_email }}</td>
                <td>¥{{ customer.commission_earned }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}