<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Air Ticket Reservation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="top-nav">
        <div class="nav-container">
          <a href="{{ url_for('home') }}" class="nav-brand">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="nav-logo">
            Air Ticket Reservation System
          </a>
          <nav class="nav-links">
                <a href="{{ url_for('home') }}">Home</a>
                {% if session.get('user_type') %}
                    <a href="{{ url_for('user_home') }}">MyAccount</a> <!-- 添加用户主页链接 -->
                    <span class="welcome-message">Welcome, {{ session.get('username') }}!</span>
                    <a href="{{ url_for('logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    <a href="{{ url_for('register') }}">Register</a>
                {% endif %}
            </nav>
        </div>
    </div>
    
    <main class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>